{
  "root": true,
  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
    "jasmine": true,
    "jest/globals": true,
    "browser": true
  },
  "extends": [
    "eslint-config-airbnb-base",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:promise/recommended",
    "plugin:node/recommended",
    "plugin:jest/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "promise", "jest"],
  "rules": {
    "strict": 0,
    "import/no-unresolved": 0,
    "import/no-dynamic-require": 0,
    "global-require": 0,
    "no-plusplus": 0,
    "no-unused-expressions": 0,
    "node/no-unsupported-features/es-syntax": 0,
    "node/no-unsupported-features/es-builtins": 0,
    "import/extensions": [
      "error",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "node/no-missing-import": [
      "error",
      {
        "tryExtensions": [".js", ".jsx", ".ts", ".tsx", ".json", ".node"]
      }
    ]
  }
}
