{
  "extends": [
    "standard",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/standard",
    "prettier/@typescript-eslint",
    "plugin:jest/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": true
  },
  "plugins": [
    "standard",
    "@typescript-eslint",
    "jest"
  ],
  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
    "jasmine": true,
    "jest/globals": true
  },
  "rules": {
    "strict": 0,
    "semi": [2, "always"],
    "quotes": [2,"double"],
    "no-unused-expressions": 0
  }
}
