{
  "root": true,
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint-config-airbnb-base",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:promise/recommended",
    "plugin:node/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "promise"],
  "rules": {
    "import/no-unresolved": 0,
    "node/no-unsupported-features/es-syntax": 0,
    "import/extensions": [
      "error",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "node/no-missing-import": [
      "error",
      {
        "tryExtensions": [".js", ".jsx", ".ts", ".tsx", ".json", ".node"]
      }
    ]
  }
}